h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
textarea {
    width: 40%;
    height: 150px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
input[type=text] {
    width: 10%;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-left: 30px;
}
#button1 {
    margin-left: 75px;
}
.centered-video {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(min-width:992px){
    .iframe-width {width: 448px; height: 252px}
}
.username {
    font-weight: bold
}