img {
    width: 100%;
    vertical-align: middle;
    margin-bottom: 15px;
    height: 100%;
}
h1, h2, p, h4 {
    text-align: center;    
}
h3 {
    text-align: center;
    padding-bottom: 2em;
}
p {
    padding-bottom: 4em;
}
div.progress-bar {
    background-color: #9d33b7;
}
.btn-group {
    padding-bottom: 8em;
}

